@import "common.less";
@bodyBackground: #f0f3ef;
a {
  color: #333;
}

.myBtn {
  margin-right: 20px;
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background: #409EFF;
  border-radius: 4px;
}

body {
  background: @bodyBackground;
}

.appContainer {
  width: 100%;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin: 10px 0;
}

.content {
  margin: 20px auto 10px;
  width: 80%;
}

.mudulesList {
  margin-top: 20px;
}

.view {
  margin-top: 10px;
}